body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    @include text-font;
}

a,
a:visited {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
}