.info-section {
    display: flex;
    flex-direction: column;
    background-color: $light-grey;
    height: 21rem;
    &__location-form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaeaea;
        >.location__search {
            padding-left: 1rem;
        }
    }
    &__title {
        @include flex-row;
        justify-content: center;
        text-align: center;
        margin: 2.75rem 5rem 0px 4rem;
        font-size: 1.35rem;
        font-weight: 600;
    }
    &__heading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px 2.25rem 0px 2.25rem;
        font-weight: lighter;
        font-size: 1.1rem;
        text-align: center;
        margin: 0.94rem 0px 2.2rem 0px;
    }
}