.manual {
    @include flex(column);
    &__heading {
        padding-left: 1.375rem;
        @include pad-media-query {
            margin-left: 2.5rem;
        }
    }
    &__list {
        margin-left: 0.625rem;
        @media screen and(min-width: 768px) {
            @include flex;
            @include pad-padding;
            @include centering(space-evenly, none);
        }
    }
}

.item {
    @include flex;
    margin: 0px 1.25rem 1.5rem 1.25rem;
    height: 4.5rem;
    width: 87%;
    .link {
        @include flex;
        @include centering(none, center);
        width: 100%;
        height: 100%;
        background-color: $light-grey;
        @include box-shadow;
        @include border-radius;
        &__number {
            border: 1px solid $color-primary;
            background: $color-primary;
            @include white;
            margin: 0px 5.85% 0px -0.625rem;
            width: 1.5rem;
            height: 1.5rem;
            @include border-radius(50%);
            display: flex;
            @include centering;
            font-size: 0.9rem;
        }
        &__icon {
            @include icon-styling;
            @include font-size;
        }
        &__icon--thinner {
            @include icon-styling;
            @include font-size(1.2rem);
        }
        &__description {
            @include font-weight;
            @include black;
            margin-left: 0.44rem;
        }
        &__description--closer {
            margin-left: 0.125rem;
        }
        &__description--closest {
            margin-left: -0.125rem;
        }
        &:hover {
            @include color-state;
            @include box-shadow-darker;
            >.link__icon--state {
                @include color-primary;
            }
        }
        &:focus {
            @include color-state;
            @include box-shadow-darker;
            >.link__icon--state {
                @include color-primary;
            }
        }
    }
}