.manual {
    display: flex;
    flex-direction: column;
    &__heading {
        padding-left: 1.375rem;
    }
    &__list {
        margin-left: 0.625rem;
    }
}

.item {
    display: flex;
    flex-direction: row;
    margin: 0px 1.25rem 1.5rem 1.25rem;
    height: 4.5rem;
    .link {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $light-grey;
        @include box-shadow;
        border-radius: 25px;
        &__number {
            border: 1px solid $color-primary;
            background: $color-primary;
            color: $white;
            margin: 0px 5.85% 0px -0.625rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;
        }
        &__icon {
            @include icon-styling;
            font-size: 1.5rem;
        }
        &__icon--thinner {
            @include icon-styling;
            font-size: 1.2rem;
        }
        &__description {
            font-weight: bold;
            color: $black;
            margin-left: 0.44rem;
        }
        &__description--closer {
            margin-left: 0.125rem;
        }
        &__description--closest {
            margin-left: -0.125rem;
        }
        &:hover {
            background: $color-state;
            @include box-shadow-darker;
            >.link__icon--state {
                color: $color-primary;
            }
        }
        &:focus {
            background: $color-state;
            @include box-shadow-darker;
            >.link__icon--state {
                color: $color-primary;
            }
        }
    }
}