.restaurants {
    background: $light-grey;
    padding: 0px 0px 2.8rem 0px;
    @include pad-media-query {
        @include pad-padding;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    &__heading {
        @include flex-row;
        margin: 3.5rem 0px 1.75rem 1.125rem;
        @include pad-media-query {
            grid-column: span 2;
        }
    }
}

.card {
    @include flex-column;
    &__link {
        @include flex-column;
        margin: 0px 1.125rem 1.125rem 1.125rem;
        border-radius: 15px;
        @include box-shadow;
        &:hover {
            @include box-shadow-darker;
        }
    }
    &__display {
        @include flex-column;
        position: relative;
        z-index: 1;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__picture {
        height: map-get($picture-height, index);
        width: 100%;
        object-fit: cover;
        object-position: center 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        @media screen and(min-width: 500px) {
            object-position: center;
            object-position: center 70%;
        }
        @media screen and(min-width: 700px) {
            height: 15rem;
            object-position: center 70%;
        }
        &--position {
            object-position: center 60%;
        }
    }
    &__heading {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background: $white;
    }
    &__header {
        height: map-get($card-height, name);
        width: 100%;
        @include flex-column;
        flex-wrap: wrap;
        >.card__name {
            padding: 0;
            margin: 1.125rem 0px 0px 0.75rem;
            color: $black;
            font-weight: bold;
            +.card__location {
                padding: 0;
                margin: 0.5rem 0px 0px 0.75rem;
                color: $black;
                +.card__favorite {
                    @include flex-row;
                    justify-content: flex-end;
                    margin: 1.625rem 1.5rem 0px 0px;
                    font-size: 1.5rem;
                    font-weight: 100;
                    color: $black;
                }
            }
        }
    }
}