@import "./Base/fonts";
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/normalize";
@import "header";
@import "footer";
@import "menus";
@import "info-section";
@import "manual";
@import "restaurants";
@import "buttons";
@import "label-new";
@import "hidden__title";
@import "load-spin";