@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/fonts";
@import "./Base/normalize";
@import "./Layouts/header";
@import "./Layouts/footer";
@import "./Pages/info-section";
@import "./Pages/manual";
section {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    p {
        padding-left: 16px;
    }
}

.card__picture {
    height: 174px;
    width: 100%;
}