@import "./Base/fonts";
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/normalize";
@import "./Layouts/header";
@import "./Layouts/footer";
@import "./Layouts/menus";
@import "./Pages/info-section";
@import "./Pages/manual";
@import "./Pages/restaurants";
@import "./Components/buttons";
@import "./Components/aside-new";
@import "./Components/hidden__title";
@import "./Components/load-spin";