.aside-new {
    @include flex-row;
    @include centering;
    background: $color-tertiary;
    @include border-radius(2px);
    color: darken($color-tertiary, 35%);
    @include font-size(1rem);
    @include font-weight;
    height: 1.8rem;
    width: 5rem;
    position: absolute;
    top: 0.75rem;
    right: 0.7rem;
    border-style: none;
    box-shadow: 0 1px 1px 0 darken($color-tertiary, 10%);
}