.btn {
    @include flex-row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    margin: 0rem 4.9rem 0rem 4.9rem;
    border-radius: 25px;
    background: linear-gradient($color-secondary, $color-primary);
    @include box-shadow;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    &:hover {
        background: linear-gradient(lighten($color-secondary, 10%), lighten($color-primary, 10%));
        @include box-shadow-darker;
    }
    &--margin {
        margin: 34px 78.5px 58px 78.5px;
    }
}

.btn-new {
    @include flex-row;
    justify-content: center;
    align-items: center;
    background: $color-tertiary;
    border-radius: 2px;
    color: darken($color-tertiary, 35%);
    font-size: 1rem;
    font-weight: bold;
    height: 29px;
    width: 80px;
    position: absolute;
    top: 12px;
    right: 11px;
    border-style: none;
    box-shadow: 0 1px 1px 0 darken($color-tertiary, 10%);
}