.page {
    @keyframes content-loading {
        0% {
            opacity: 0;
        }
        90% {
            opacity: 0.01;
        }
        91% {
            opacity: 0.02;
        }
        92% {
            opacity: 0.05;
        }
        93% {
            opacity: 0.08;
        }
        94% {
            opacity: 0.1;
        }
        100% {
            opacity: 1;
        }
    }
    animation: content-loading 4500ms ease-out both;
}

.loader {
    display: block;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    text-align: center;
    background: radial-gradient($white, $light-grey);
    z-index: -10;
    @keyframes load-opacity {
        0% {
            opacity: 0;
        }
        1% {
            opacity: 0.1;
        }
        5% {
            opacity: 0.25;
        }
        7% {
            opacity: 0.5;
        }
        10% {
            opacity: 1;
        }
        80% {
            opacity: 0.9;
        }
        90% {
            opacity: 0.8;
        }
        95% {
            opacity: 0.5;
        }
        97% {
            opacity: 0.25
        }
        100% {
            opacity: 0;
        }
    }
    animation: load-opacity 4500ms both ease-in-out;
    &__span {
        display: block;
        width: 100%;
        height: 100%;
        overflow: visible;
    }
    &__icon {
        display: block;
        font-size: 50px;
        &::before {
            @include block-relative;
            width: auto;
            height: auto;
            overflow: visible;
            @keyframes icon-spin {
                from {
                    transform: rotate(00deg);
                }
                to {
                    transform: rotate(3turn);
                }
            }
            animation: icon-spin 1500ms cubic-bezier(.26, 1.14, .64, .71) 2;
        }
        &--1 {
            @include block-absolute;
            left: 4%;
            top: 25%;
            @include pad-media-query {
                left: 25%;
            }
        }
        &--2 {
            @include block-absolute;
            right: 4%;
            top: 25%;
            @include pad-media-query {
                right: 25%;
            }
        }
        &--3 {
            @include block-absolute;
            left: 45%;
            bottom: 54%;
            @include pad-media-query {
                left: 47%;
                bottom: 54%;
            }
        }
        &--4 {
            @include block-absolute;
            left: 45%;
            top: 10%;
            @include pad-media-query {
                left: 47%;
            }
        }
    }
    &__name {
        @include block-relative;
        font-size: 3rem;
        top: 25%;
        font-family: Shrikhand;
        @include no-margin-neither-padding;
        @include back-gradient-clip-transp;
        @keyframes load-spin {
            from {
                transform: rotate(00deg);
            }
            to {
                transform: rotate(2turn);
            }
        }
        animation: load-spin 1500ms cubic-bezier(.53, .14, 0, .74) 2 alternate-reverse;
    }
}