footer {
    @include flex-column;
    background: $color-footer;
    .nav {
        @include flex-column;
        @include white;
        padding: 1.94rem 0rem 2.375rem 1.5rem;
        &__heading {
            font-family: Shrikhand;
            @include font-weight;
        }
        &__link {
            @include flex;
            padding-top: 0.625rem;
            @include white;
            &--bold {
                @include font-weight;
            }
            &--utensils-icon {
                @include flex;
                font-size: 14px;
                padding-right: 0.75rem;
                @include pad-media-query {
                    @include font-size;
                }
            }
            &--hands-icon {
                @include flex;
                font-size: 11px;
                margin-right: 0.625rem;
                @include pad-media-query {
                    @include font-size;
                }
            }
            &--mailto {
                @include white;
            }
            &:hover {
                color: $color-secondary;
                font-family: cursive;
            }
        }
        @include pad-media-query {
            @include centering;
        }
    }
    @include pad-media-query {
        @include font-size;
    }
}