    footer {
        display: flex;
        flex-direction: column;
        background-color: #353535;
        .nav {
            display: flex;
            flex-direction: column;
            color: #fff;
            padding-left: 24px;
            &__heading {
                font-family: Shrikhand;
                font-weight: bold;
            }
            &__link {
                display: flex;
                padding-top: 10px;
                &--icon {
                    display: flex;
                    box-sizing: border-box;
                    font-size: 13px;
                    padding-right: 12px;
                }
            }
        }
    }