footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    .nav {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 31px 0px 38px 24px;
        @include text-font;
        &__heading {
            font-family: Shrikhand;
        }
        &__link {
            display: flex;
            padding-top: 10px;
            color: $white;
            &--bold {
                font-weight: bold;
            }
            &--utensils-icon {
                display: flex;
                box-sizing: border-box;
                font-size: 14px;
                padding-right: 12px;
            }
            &--hands-icon {
                display: flex;
                box-sizing: border-box;
                font-size: 11px;
                margin-right: 10px;
            }
            &--mailto {
                color: #fff;
            }
            &:hover {
                color: $color-secondary;
                font-family: Roboto;
            }
        }
    }
}