.header {
    @include flex-row;
}

.index__link {
    @include flex-row;
    flex-basis: 100%;
    justify-content: center;
    z-index: 9999;
    box-shadow: 0px 1px 5px 0px $grey;
    >.index__logo {
        @include flex-row;
        align-items: center;
        width: 10.125rem;
        margin: 1.44rem 0px 0.75rem 0px;
    }
}