.menu-header {
    @include flex-row;
    @include centering;
    height: 3.875rem;
    &__link {
        margin: 0rem 4rem 0rem -6rem;
        @include black;
    }
    &__logo {
        @include flex;
        width: 10rem;
    }
}

.section {
    @include light-grey;
    &__pic {
        @include flex-column;
        height: map-get($picture-height, menu);
        object-fit: cover;
        @include desktop-media-query {
            @include object-position(70%);
        }
        &--position {
            @include desktop-media-query {
                @include object-position(60%);
            }
        }
    }
    &__header {
        @include flex-row;
        margin: -3.125rem 0px 0px 0px;
        justify-content: space-between;
        padding-left: 1.125rem;
        align-items: center;
        z-index: 1;
        @include border-top-radius;
        @include light-grey;
    }
    &__heading {
        font-family: Shrikhand;
        font-size: 1.6rem;
    }
    &__heart-icon {
        padding-right: 2.2rem;
        @include font-size;
    }
}

.dishes {
    @include flex-column;
    @include light-grey;
    &__category {
        margin-left: 1.25rem;
        font-weight: 300;
        @include font-size(1rem);
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: 0.375rem;
        width: 2.7rem;
        @include desktop-media-query {
            grid-column: span 3;
        }
    }
    &__content {
        @include flex-column;
        @include centering;
        &--grid {
            @include desktop-media-query {
                grid-column: 2/3;
            }
        }
    }
    @include desktop-media-query {
        @include grid;
    }
}

.dish {
    @include flex-row;
    justify-content: space-between;
    @include border-radius(map-get($radius, radius-value));
    background: $white;
    height: 4.25rem;
    width: 93.3%;
    margin-bottom: 0.75rem;
    @include box-shadow;
    &__heading {
        width: 82%;
        @include flex-column;
        >.dish__name {
            @include flex-row;
            margin: 0.75rem 0px 0.125rem 0.75rem;
            @include font-weight(500);
            @include font-size(1.1rem);
        }
        >.dish__subhead {
            display: inline-block;
            margin: 0px 0px map-get($radius, radius-value) 0.75rem;
            font-weight: 200;
            font-size: 0.95rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price {
        @include flex-row;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0px 1.25rem 0.75rem 0px;
        @include font-weight(500);
    }
    &:hover {
        @include box-shadow-darker;
    }
}