@mixin text-font($font-size: 1rem) {
    font-family: Roboto, sans-serif;
}

@mixin icon-styling {
    margin-right: 2.66%;
    color: #7e7e7e;
}

@mixin flex {
    display: flex;
    box-sizing: borderbox;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin centering {
    justify-content: center;
    align-items: center;
}

@mixin pad-media-query {
    @media screen and(min-width: 768px) {
        @content;
    }
}

@mixin desktop-media-query {
    @media screen and(min-width: 992px) {
        @content;
    }
}

@mixin pad-padding {
    padding: 1rem 3rem 3rem 3rem;
}

@mixin box-shadow {
    box-shadow: 0 5px 0.94rem 0 #c3c3c3;
}

@mixin box-shadow-darker {
    box-shadow: 0 5px 0.94rem 0 rgb(0, 0, 0 /30%);
}