@mixin text-font($font-size: 1rem) {
    font-family: Roboto, sans-serif;
}

@mixin title-font($font-size: 1.8rem) {
    font-family: Shrikhand, cursive;
}

@mixin icon-styling {
    margin-right: 22px;
    color: #7e7e7e;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin box-shadow {
    box-shadow: 0 5px 15px 0 #c3c3c3;
}

@mixin box-shadow-darker {
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0 /30%);
}