/* Colors */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-state: #f5edff;
$color-footer: #353535;
$black: #000000;
$white: #fff;
$light-grey: #f6f6f6;
$grey: #c3c3c3;
$mid-grey: #cccccc;
$transp: transparent;
$gradient: linear-gradient($color-secondary, $color-primary);

/* Heights */

$picture-height: (index:10.875rem, menu:16.875rem);
$card-height: (name: 4.8rem, dishes: 4.25rem);

/* Sizes */

$title-size: 1.4rem;

/* Borders */

$radius: (radius-value: 15px, top-radius: 2.2rem);