$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-state: #f5edff;
$black: #000000;
$white: #fff;
$light-grey: #f6f6f6;
$grey: #c3c3c3;
$picture-height: (index:10.875rem, menu:23.5rem);
$card-height: (name: 4.8rem, dishes: 4.25rem);
$title-size: 1.4rem;